<?xml version='1.1' encoding='utf-8'?>
<plugin id="cordova-plugin-google-play-services" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>Google Play Services for Cordova</name>

    <keywords>cordova,Social,google,play,games,game,center,achievements,leaderboards</keywords>

    <repo>git@github.com:azerion/cordova-google-play-servcies.git</repo>
    <issue>http://github.com/azerion/cordova-google-play-servcies/issues</issue>

    <dependency id="es6-promise-plugin" version="^4.2.2" />

    <js-module name="Azerion" src="www/CordovaGooglePlayServices.js">
        <clobbers target="window.Azerion"/>
    </js-module>

    <platform name="android">
        <preference name="APP_ID" />

        <config-file parent="/*" target="config.xml">
            <feature name="CordovaGooglePlayServices">
                <param name="android-package" value="com.azerion.cordova.plugin.CordovaGooglePlayServices"/>
            </feature>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                    android:name="com.google.android.gms.games.APP_ID"
                    android:value="@string/app_id" />
        </config-file>

        <config-file target="app/src/main/res/values/strings.xml" parent="/resources">
            <string name="app_id">$APP_ID</string>
        </config-file>

        //Our cordova wrapper
        <source-file src="src/android/src/CordovaGooglePlayServices.java" target-dir="src/com/azerion/cordova/plugin"/>

        <framework src="com.google.android.gms:play-services-auth:16.0.1" />
        <framework src="com.google.android.gms:play-services-games:17.0.0" />
    </platform>
</plugin>
